body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #faf7f2;
}

.navbar {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 25px 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

.nav-brand h2 {
  margin: 0;
}

.navbar img {
  height: 33px;
  width: 37px;
}
.banner {
  position: relative;
  height: 480px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 48px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.container {
  padding: 40px 80px;
}

.chapters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
}
